body {
  background-color: #F5FFFA;
  font-family: sans-serif;
  color: black;
}

img {
  width: 300px;
  height: auto;
  border: solid 1px;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
}

.animal {
  text-align: center;
}

.animal h2 {
  font-size: 25px;
}

.animal p {
  font-size: 20px;
  font-style: italic;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid black;
}

#header {
  float: left;
  height: 100px;
  width: 1000px;
  background: #FF6633;
}
#leftcolumn {
  background: #33CCFF;
  width: 150px;
  height: 100%;
  float: left;
  text-align: center;

}

#content {
  float: left;
  background: #FFFFFF;
  width: 850px;
}

#column_left {
  float: left;
  width: 50%;
}

#column_right {
  float: right;
  width: 50%;
}

#footer {
  padding-top: 5px;
  text-align: center;
  height: 40px;
  width: 1000px;
  background: #33FF66;
  clear: both;
}

@media screen and (max-width:  600px)  {
  body {
    background:  #FF6347;
  }

  h1 {
    text-align: left;
    font-size: 25px;
  }

  #leftcolumn {
    display: none;
  }
  #column_left {
    float: none;
    width: 50%;
  }

  #column_right {
    float: none;
    width: 50%;
  }

  #footer {
    text-align: left;
  }


}
